// Footer Section Start
footer
  .container
    .row
      // Footer Links
      .col-lg-6.col-sm-6.col-xs-12
        ul.footer-links
          li
            a(href='#') Homepage
          li
            a(href='#') Services
          li
            a(href='#') About Us
          li
            a(href='#') Contact
      .col-lg-6.col-sm-6.col-xs-12
        .copyright
          p
            | All copyrights reserved © 2018 - Designed & Developed by 
            a(rel='nofollow', href='https://uideck.com') UIdeck
            a.back-to-top(href='#')
                i.lnr.lnr-arrow-up
                #loader
                    .spinner
                     .double-bounce1
                            .double-bounce2

